<template>
  
</template>


<script>
export default {
  
}
</script>


<style>

</style>








<!---

<template>
  <div id="dayspan" v-cloak>
    <ds-calendar-app :calendar="calendar"></ds-calendar-app>
  </div>
</template>

<script>
import { Calendar } from 'dayspan';

export default {
  name: 'app',
  data: () => ({
    calendar: Calendar.months()
  })
}
</script>

<style>
#dayspan {
  width: 100%;
  height: 100%;
}
</style>


-->