<template>
  <div>
    <br>
    <br>
    <br>
    <div id="cover-box" class="sombra roundify" v-if="loginRegister">
      <br>
      <h1>BRIGHT GARDENS</h1>

      <p>It is a service created to provide a method of liaison between contractor / client to meet the customer's need and promote your business</p>

      <button class="sombra roundify" v-on:click="loginRegister = false" style="cursor:pointer;">
        <i class="uil uil-user-check"></i> SIGN IN -OR- REGISTER
        <i class="uil uil-user-plus"></i>
      </button>
      <br>
    </div>

    <br>
    <br>
    <br>

    <div id="LoginRegister" v-if="!loginRegister">
      <div id="LoginRegisterNav" class="nav nav-tabs">
        <a data-toggle="tab" href="#login" class="nav-item nav-link active">Log in</a>
        <a data-toggle="tab" href="#register" class="nav-item nav-link">Sign up</a>
      </div>

      <div class="tab-content">
        <div id="login" class="LoginRegisterItem tab-pane container active">
          <br>
          <br>
          <br>
          <h1>Log in</h1>
          <small>log in with your user account</small>

          <br>

          <input type="text" id="LogUsername" placeholder="username">
          <br>
          <input type="password" id="LogPassword" placeholder="password">

          <br>
          <br>
          <br>

          <router-link to="/home">
            <button class="sombra roundify" @click="onLogin()">
              <i class="uil uil-user-check"></i>Log in
            </button>
            <button class="sombra roundify">
              <i class="fab fa-google"></i>
            </button>
            <button class="sombra roundify">
              <i class="fab fa-facebook-f"></i>
            </button>
          </router-link>

          <br>
          <br>
          <br>

          <a>forgot my password</a>
        </div>
        <!--login-->
        <div id="register" class="LoginRegisterItem tab-pane container fade">
          <br>
          <br>
          <br>
          <h1>Sign up</h1>
          <small>sign up with your prefered method</small>

          <br>

          <input type="text" id="RegUsername" placeholder="username">
          <br>
          <input type="text" id="RegEmail" placeholder="email">
          <br>
          <input type="password" id="RegPassword" placeholder="password">

          <br>
          <br>
          <br>

          <router-link to="/#">
          <button class="sombra roundify" @click="onSubmit()">
            <i class="uil uil-user-check"></i>Sign up
          </button>
          <button class="sombra roundify">
            <i class="fab fa-google"></i>
          </button>
          <button class="sombra roundify">
            <i class="fab fa-facebook-f"></i>
          </button>
          </router-link>

          <br>
          <br>
          <br>
        </div>
        <!---register-->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Cover",
  data() {
    return {
      RegEmail: "",
      RegPassword: "",
      RegUsername: "",
      LogEmail: "",
      LogUsername: "",
      LogPassword: "",

      loginRegister: true,

      onSubmit() {
        const formData = {
          RegEmail: this.RegEmail,
          RegUsername: this.RegUsername,
          RegPassword: this.RegPassword
        };
        this.$store.dispatch('signup', formData)
      },

      onLogin() {
        const formData = {
          LogEmail: this.LogEmail,
          LogUsername: this.LogUsername,
          LogPassword: this.LogPassword
        };
        console.log(formData);
        this.$store.dispatch('login', {LogEmail: formData.LogEmail, LogPassword: formData.LogPassword})
      
      }
    };
  }
};
</script>

<style scoped>
#cover-box {
  width: 80%;
  margin: auto;
  padding: 22px;
}
#cover-box button {
  background: none;
  outline: none;
  border: none;
  padding: 12px 22px;
}
#cover-box p {
  margin: 22px auto 22px auto;
  width: 50%;
}

#LoginRegister {
  justify-content: space-between;
  width: 100%;
}

#LoginRegisterNav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
#LoginRegisterNav a {
  display: inline-block;
  margin: auto;
  align-self: middle;
  padding: 10px 22px;
}

.LoginRegisterItem {
  width: 100%;
  margin: auto;
}
.LoginRegisterItem input {
  width: 40%;
  margin: 22px auto 22px auto;
  padding: 22px;
  border: none;
  border-bottom: solid thin black;
}
.LoginRegisterItem button {
  background: none;
  outline: none;
  border: none;
  padding: 12px 22px;
  margin: auto 22px auto 22px;
}
</style>
