<template>
  <file-picker-button :config="gConfig" @picked="showDetails">
    Open Google Drive Dialog
  </file-picker-button>
</template>
<script>
import FilePickerButton from '../../node_modules/vue-google-picker'
export default {
  components: {
    FilePickerButton
  },
  created() {
    this.gConfig = {
      // The Browser API key obtained from the Google API Console.
      developerKey: 'AIzaSyAjtpY-G5g0nwkX9OHMSBmUcabp7QanF0U',

      // The Client ID obtained from the Google API Console. Replace with your own Client ID.
      clientId: '373495904517-ba0ecjsi00nrvjjk1oicit19mqndsnr6.apps.googleusercontent.com',

      // Scope to use to access user's drive.
      scope: 'https://www.googleapis.com/auth/drive.file'
    }
  }, 
  methods: {
    showDetails (data) {
     if(data.picked === 'picked') {
      console.log(data.docs)
     }
    }
  }
}
</script>













































<!---

<template>
<div>

    
       <br><br><br>

           <div id="documents-header" class="nav nav-tabs">
           <a data-toggle="tab" href="#documents-explore"      class="nav-item nav-link active">        <i class='uil uil-folder'></i>             EXPLORE</a>
           <a data-toggle="tab" href="#documents-favorites"    class="nav-item nav-link">        <i class='uil uil-favorite'></i>           FAVORITES</a>
           <a data-toggle="tab" href="#documents-history"      class="nav-item nav-link">        <i class='uil uil-history-alt'></i>        RECENTS</a>
           <a data-toggle="tab" href="#documents-trash"        class="nav-item nav-link">        <i class='uil uil-trash'></i>              TRASH</a>
           </div>

             <div class="tab-content">
       
               <div id="documents-explore" class="tab-pane container active">
                   <br>
               <h1>explore documents like you on any file explorer</h1>    
               </div>

               <div id="documents-favorites" class="tab-pane container fade">
                   <br>
               <h1>save your important files in favorites as a quick access</h1>
               </div>

               <div id="documents-history" class="tab-pane container fade">
                   <br>
               <h1>see your files history</h1>
               </div>

               <div id="documents-trash" class="tab-pane container fade">
                   <br>
               <h1>deleted files, files deleted inside trash will be forever gone</h1>
               </div>  

            </div>

</div>
</template>

<script>
</script>


<style scoped>

   #documents-header{
       width:100%;
       margin: auto;
       display: flex;
       justify-content: space-between;
       border-bottom: solid thin rgba(0,0,0,0.1);
       padding: 0 0 12px 0;
   }
   #documents-header a{
       display: inline-block;
       padding: 10px 22px;
       margin: auto;
       align-self: middle;
       cursor: pointer;
   }

</style>

--->
