<template>
    <html>
        <header>
            <meta name="view" content="width=device-width, initial-scale=1.0">
        </header>
    <body>
        <div>
            <h1>Help Center</h1>
        </div>

        <br> <br>
        <div class="guide-container">
            <div class="guide sombra">
                <h2>Quick Guide</h2>
                <ol>
                    <li>Log in/Create a new account</li>
                    <li>Click on "Suppliers" to view the differents contractors rgegistered with us</li>
                    <li>See who is perfect for the kind of service you need</li>
                    <li>Then make a quotation</li>
                </ol>
            </div> <!--guide ends -->   
        </div><!-- guide-container ends -->

        <div class="tips-container">
            <div class="tips sombra">
                <h2>Need some Tips?</h2>
                <ul>
                    <li>Get noticed about the recomendations</li>
                    <li>Active the notifications</li>
                </ul>
            </div><!--tips ends -->
        </div> <!--Tips- container ends -->

        <div class="tools-container">
            <div class="tools sombra">
                <h2>Tools</h2>
                <p>GoogleDocs, Facebook, Twitter</p>
            </div> <!--Tips- container ends -->   
        </div><!-- Tools-container ends -->

        <div class="support-container">
            <div class="supp sombra">
                <h3>Support</h3>
                <p><a href="https://mail.google.com/">supp@brightgardens.com</a></p>
            </div> <!-- supp ends -->
        </div> <!-- Support-container ends -->




         

        <br><br><br><br><br><br><br><br><br> <small>working</small>
        


    </body>
</html>     
</template>

<style scoped>

    h1{
        text-align: center;
        margin-top: 3em;
    }

    h2{
        margin-top: 0.3em;
        margin-left: 1.2em;
    }

    h3{
        margin-top: 0.3em;
        margin-left: 1.2em;
    }

    p{
      margin-left: 2em;
    }

    .guide{
      width: 500px;
      margin:auto auto 42px auto;
      display: block;
      overflow: hidden;
      border: solid 0.5px rgba(0,0,0,0.1);
      border-radius: 8px;
    }

    .tips{
      width: 500px;
      margin:auto auto 42px auto;
      display: block;
      overflow: hidden;
      border: solid 0.5px rgba(0,0,0,0.1);
      border-radius: 8px;
    }

    .tools{
      width: 500px;
      margin:auto auto 42px auto;
      display: block;
      overflow: hidden;
      border: solid 0.5px rgba(0,0,0,0.1);
      border-radius: 8px;
    }

    .supp{
      width: 500px;
      margin:auto auto 42px auto;
      display: block;
      overflow: hidden;
      border: solid 0.5px rgba(0,0,0,0.1);
      border-radius: 8px;
    }

    a{
        font-style: oblique;
    }

</style>
