<template>
  <div>
    <br>
    <br>
    <br>

    <div id="dashboard">
      <div id="dashboard-header" class="dashboard-item">
        <div class="dashboard-item-header">
          <h1>Overview</h1>
        </div>

        <div class="dashboard-item-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quos voluptatem alias impedit repudiandae? Laborum, praesentium. Quam sequi illo placeat praesentium vero, animi, assumenda possimus laboriosam, quis quibusdam doloremque quae!</p>
        </div>
      </div>
      <!---dashboard item-->
      <div id="dashboard-messages" class="dashboard-item">
        <div class="dashboard-item-header">
          <h1>Inbox</h1>
        </div>

        <div class="dashboard-item-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quos voluptatem alias impedit repudiandae? Laborum, praesentium. Quam sequi illo placeat praesentium vero, animi, assumenda possimus laboriosam, quis quibusdam doloremque quae!</p>
        </div>
      </div>
      <!---dashboard item-->
      <div id="dashboard-events" class="dashboard-item">
        <div class="dashboard-item-header">
          <h1>Events</h1>
        </div>

        <div class="dashboard-item-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quos voluptatem alias impedit repudiandae? Laborum, praesentium. Quam sequi illo placeat praesentium vero, animi, assumenda possimus laboriosam, quis quibusdam doloremque quae!</p>
        </div>
      </div>
      <!---dashboard item-->
    </div>
    <!---dashboard--->
  </div>
</template>

<script>
export default {
  name: "Home",
  computed:{
    auth(){
      return this.$store.getters.isAuthenticated
    }

  },
  data() {
    return {
      name: "Chatbot"
    };
  }
};
</script>


<style scoped>
#dashboard {
  width: 100%;
  margin: auto auto 100px auto;
}
#dashboard-header {
  width: 100%;
  margin: auto;
  border-bottom: solid thin rgba(0, 0, 0, 0.2);
}
#dashboard-messages {
  width: 50%;
  border-right: solid thin rgba(0, 0, 0, 0.1);
}
#dashboard-events {
  width: 50%;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}

.dashboard-item {
  margin: auto;
  display: inline-block;
  align-self: center;
  justify-self: center;
  padding: 22px;
}
.dashboard-item-header {
  width: 100%;
  display: flex;
  padding: 10px;
}
.dashboard-item-header h1 {
  align-self: middle;
  margin: auto;
  padding: 10px;
  font-size: 22px;
}
.dashboard-item-content {
  padding: 18px;
}
</style>