<template>
  <div>
    <nav id="navbar" class="sombra" >
      <div id="navbar-menu-logo">
        <a class="navbar-item" v-on:click="isSideBarHidden = !isSideBarHidden">
          <i class="uil uil-user" ></i> MENU
        </a>
      </div>

      <div id="navbar-links">
        <router-link to="/home">
          <a class="navbar-item">
            <i class="uil uil-home-alt"></i> HOME
          </a>
        </router-link>
        <router-link to="/search">
          <a class="navbar-item">
            <i class="uil uil-search-alt"></i> SEARCH
          </a>
        </router-link>
        <a class="navbar-item" v-on:click="isNotificationBoxHidden = !isNotificationBoxHidden">
          <i class="uil uil-envelope-alt"></i> NOTIFICATIONS
        </a>
        <router-link to="/help">
          <a class="navbar-item">
            <i class="uil uil-life-ring"></i> HELP
          </a>
        </router-link>
      </div>
    </nav>

    <div id="notifications-box" v-if="!isNotificationBoxHidden">
      <div class="notification sombra roundify">
        <div class="notification-contact">
          <img src="../assets/user.png">
        </div>
        <div class="notification-message">
          <p>hello {{username}} and welcome to bright gardens</p>
        </div>
      </div>

      <div class="notification sombra roundify">
        <div class="notification-contact">
          <img src="../assets/user.png">
        </div>
        <div class="notification-message">
          <p>enjoy the tour</p>
        </div>
      </div>
    </div>

    <div id="sidebar" class="sombra" v-if="!isSideBarHidden">
      <div id="sidebar-user-info">
        <img
          id="sidebar-user-img"
          src="https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto"
        >

        <h1>{{username}}</h1>
        <p>{{usermail}}</p>
      </div>

      <div id="sidebar-links" >
        <router-link to="/perfil">
          <a class="sidebar-item">
            <i class="uil uil-home-alt"></i> PERFIL
          </a>
        </router-link>
        <router-link to="/inbox">
          <a class="sidebar-item">
            <i class="uil uil-mailbox"></i> INBOX
          </a>
        </router-link>
        <router-link to="/calendar">
          <a class="sidebar-item">
            <i class="uil uil-calendar-alt"></i> CALENDAR
          </a>
        </router-link>
        <router-link to="/clients">
          <a class="sidebar-item">
            <i class="uil uil-users-alt"></i> CLIENTS
          </a>
        </router-link>
        <router-link to="/suppliers">
          <a class="sidebar-item">
            <i class="uil uil-truck"></i> SUPPLIERS
          </a>
        </router-link>
        <router-link to="/notes">
          <a class="sidebar-item">
            <i class="uil uil-notes"></i> NOTES
          </a>
        </router-link>
        <router-link to="/reports">
          <a class="sidebar-item">
            <i class="uil uil-clipboard-alt"></i> REPORTS
          </a>
        </router-link>
        <router-link to="/documents">
          <a class="sidebar-item">
            <i class="uil uil-document"></i> DOCUMENTS
          </a>
        </router-link>
        <router-link to="/themes">
          <a class="sidebar-item">
            <i class="uil uil-layer-group"></i> THEMES
          </a>
        </router-link>
        <router-link to="/settings">
          <a class="sidebar-item">
            <i class="uil uil-cog"></i> SETTINGS
          </a>
        </router-link>
        <a class="sidebar-item" v-if="auth">
          <i class="uil uil-sign-out-alt" @click="onLogout" ></i> LOG OUT
        </a>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  name: "Navbar",
   computed:{
    auth(){
      //return this.$store.getters.isAuthenticated
    }

  },
  methods:{
    onLogout(){
        return this.$store.dispatch('logout')
      }
  },
  data() {
    return {
      isSideBarHidden: true,
      isNotificationBoxHidden: true,
      username: "ChatBot",
      usermail: "chatbot69@gmail.com",

      
    };
  }
};
</script>

<style scoped>
#navbar {
  width: 100%;
  margin: auto;
  padding: 0px 22px;

  position: fixed;
  top: 0;

  z-index: 100;

  display: flex;

  justify-content: space-between;

  background: white;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
}
.navbar-item {
  padding: 10px 16px;
  font-size: 14px;

  display: inline-block;
  align-self: middle;

  outline: none;
  cursor: pointer;
}
#navbar-menu-logo {
  font-size: 2px;
  padding: 0 30px 0 0;
}

#sidebar {
  width: 280px;
  height: 100vh;
  border: solid thin rgba(0, 0, 0, 0.1);
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  padding: 44px 0;
  display: flex;
  flex-direction: column;
  text-align: justify;
  z-index: 98;
  background: white;
  overflow: hidden;
  overflow-y: auto;
}
#sidebar::-webkit-scrollbar {
  display: none;
  padding: 0;
  width: 0;
}
.sidebar-item {
  display: inline-block;
  padding: 10px 32px;
  width: 100%;
  margin: 2px auto 2px auto;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  align-self: middle;
}
#sidebar-user-img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 0 auto 22px auto;
  overflow: hidden;
  border: solid thin black;
}
#sidebar-user-info {
  width: 100%;
  text-align: center;
  padding: 22px;
  font-size: 14px;
  margin: 1px auto 2px auto;
}
#sidebar-user-info h1 {
  font-size: 22px;
  letter-spacing: 0.5px;
}

/*animations*/

.navbar-item:hover {
  background: rgba(100, 100, 100, 0.1);
}
.sidebar-item:hover {
  background: rgba(100, 100, 100, 0.1);
}

/* notifications */

#notifications-box {
  width: 364px;
  padding: 10px;

  display: flex;
  flex-direction: column;

  margin: -72px 0 auto auto;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 45px;
  z-index: 99;
}

.notification {
  display: flex;
  width: auto;
  max-width: 100%;
  padding: 12px;
  justify-content: space-between;
  align-self: middle;
  cursor: pointer;
  background: white;
  margin: 2px auto 10px auto;
}

.notification-contact {
  width: 15%;
  align-self: middle;
  margin: auto;
  padding: 0;
  display: inline-block;
}
.notification-message {
  width: 70%;
  align-self: middle;
  margin: auto;
  overflow: hidden;
  text-align: justify;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0;
  display: inline-block;
}
.notification-message::-webkit-scrollbar {
  display: none;
}
.notification-message p {
  align-self: middle;
  margin: auto;
  display: inline-block;
}
</style>
