<template>
<div>
    <br><br><br>


   <div id="note-input" class="sombra roundify">
       <input type="text" placeholder="note title" style="border-bottom:solid 0.5px rgba(0,0,0,0.1);">

       <div style="display:flex">
          <input type="text" placeholder="type something">
          <button><i class='uil uil-check'></i></button>
       </div>
   </div>

   <br><br>


   <div class="notes-container" v-for="(note,notesData) in notes" :key='notesData' >

     <div class="note sombra">
         <div class="note-nav">
             <button><i class='uil uil-trash'></i></button>
             <button><i class='uil uil-edit'></i></button>
            <button><i class='uil uil-share-alt'></i></button>
         </div>

         <div class="note-text">
           <h1 class="note-title">{{note.title}}</h1>
           <p class="note-content">{{note.content}}</p>
         </div>

     </div>

   </div><!--notes-container-->





</div>    
</template>




<script>
export default {
    name: 'Notes',
    data(){
        return{



            notes: [
                {title: 'generic note', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'},
                {title: 'generic note', content: 'generic content loremp ipsum i guess i dunno sajfkasjflsafalfjasljasglj yeeee boi waddup'},
            ]



        }
    }
}
</script>



<style scoped>

   
   #note-input{
       width:500px;
       margin: auto;
       overflow: hidden !important;
   }
   #note-input input{
       width:100%;
       padding: 15px 18px;
       text-align: justify;
       border:none;
       outline: none;
   }
   #note-input button{
       background: none;
       outline: none;
       border:none;
       font-size:22px;
   }

   

  .note{
      width: 500px;
      margin:auto auto 42px auto;
      display: block;
      overflow: hidden;
      border: solid 0.5px rgba(0,0,0,0.1);
  }
  .note-nav{
      width: 100%;
      margin:auto;
      display: flex;
      justify-content: center;
      align-content: center;
      border-bottom: solid thin rgba(0,0,0,0.1);
  }
  .note-nav button{
      padding: 10px 22px;
      background:none;
      outline: none;
      margin: auto;
      align-self: middle;
      display: inline-block;
      border:none;
  }
  .note-text{
      padding:22px;
  }
  .note h1{
      margin: 6px auto 26px auto;
      font-size:32px;
  }
  .note p{
      margin:auto;
      text-align: justify;
      text-justify: inter-word;
      word-wrap:normal;
  }


</style>
