<template>
  <div>
    <br>

    <div id="perfil-header" class="sombra">
      <img src="https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto" class="perfil-header-img">
      <img src="https://images.unsplash.com/photo-1535378620166-273708d44e4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto" class="perfil-header-img-round sombra">


      <div class="perfil-header-text sombra">
        
        <button>
          <i class="uil uil-ellipsis-v" style="color:white !important;"></i>
        </button>


        <div>
          <h1 class="perfil-header-name">{{user}}</h1>
          <small class="perfil-header-mail" v-if="email">{{email}}</small>
        </div>


        <button v-on:click="toggleClient = !toggleClient">
            <i class="uil uil-toggle-off toggle-account-contratist" v-if="!toggleClient"
               data-toggle="tooltip"
               data-placement="top"
               title="vista de contratista">
            </i>
            <i class="uil uil-toggle-on toggle-account-client" v-if="toggleClient"
               data-toggle="tooltip"
               data-placement="top"
               title="vista cliente">
            </i>
        </button>


      </div><!--perfil heaader-text-->
    </div><!---perfil header-->







         <div id="perfil-content"> 



          <div class="perfil-info-col">

          </div><!--info col-->



          <div class="perfil-calendar-col">

          </div><!--calendar col-->



          <div class="perfil-reviews-col">

          </div><!--reviews col-->



          <div class="perfil-upcoming-events-col">
          
          </div><!---upcoming events col-->


          <div class="perfil-news-col">

          </div><!--news col-->




         </div><!---perfil CONTENT -->










  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Inbox",
  computed: {
    LogEmail(){
      return !this.$store.getters.user ? false : this.$store.getters.user.email
      
    },
    created(){
      this.$store.dispatch('fetchUser')
    }

  }
  
}
</script>

<style scoped>
#perfil-header {
  margin: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.perfil-header-img {
  max-width: 100%;
  height: 800px;
  filter: blur(8px);
  transform: scale(1.1);
}
.perfil-header-img-round {
  position: absolute;
  border-radius: 100%;
  width: 500px;
  height: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5% auto auto auto;
  z-index: 9;
}
.perfil-header-text {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  width: 100%;
  padding: 12px 22px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.perfil-header-text h1,
small,
button {
  color: white !important;
  text-shadow: 0 1px 12px 6px rgba(0, 0, 0, 0.5) !important;
  letter-spacing: 1px;
  background: none;
  border: none;
  outline: none;
}
.perfil-header-text h1 {
  font-size: 50px;
  border-bottom: solid thin white;
  padding: 0 0 12px 0;
  margin: auto auto 22px auto;
}
.perfil-header-text small {
  font-size: 14px;
  padding: 10px 0;
}
.perfil-header-text button i {
  font-size: 22px;
  display: inline-block;
  align-self: middle;
}
.toggle-account-contratist {
  color: rgba(118, 255, 3, 1) !important;
}
.toggle-account-client {
  color: rgba(100, 150, 255, 1) !important;
}
</style>
