<template>
    <div>
<br><br><br>

      

    <div id="search-container-header">
      <div id="search-nav" class="sombra">
          <button><i class='uil uil-file-search-alt'></i></button>
          <input type="text">
          <button><i class='uil uil-search-alt'></i></button>
      </div>
    </div>



    <div id="search-content">


         <div id="search-row">

            
            
            <div class="search-row-item sombra"  v-for="(resultRow,searchRowData) in searchRow" :key='searchRowData'>
            
                <img src="https://images.unsplash.com/photo-1549444915-10904c545d6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto" class="search-row-item-img">
          
                 
                 <div class="search-row-item-text">
                    <h1>{{resultRow.title}}</h1>
                    <p>{{resultRow.caption}}</p>
                 </div>
            </div><!--search row item-->
            

         </div><!---search row --->


        <div id="search-table">


            <div class="search-table-item sombra roundify" v-for="(resultCol,searchColumnData) in searchColumn" :key='searchColumnData'>

                <img class="search-table-item-img" src="https://images.unsplash.com/photo-1549444915-10904c545d6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto">
                
                <h1>{{resultCol.title}}</h1>

                <p>{{resultCol.caption}}</p>
                
                <button class="roundify">see more</button>

            </div><!--search table item -->            

        </div><!--search table-->




















    </div><!--- search content --->    
   
    </div>
</template>




<script>
export default {
    name: 'Search',
    data(){
        return{


            searchRow: [
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
            ],

            searchColumn: [
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},
                { title: 'asfasfaf', caption: 'asasgaga'},         
            ]


        }
    }
}
</script>




<style scoped>

   

   #search-container-header{
       border-bottom:solid thin rgba(0,0,0,0.2);
       padding-top: 12px;
       padding-bottom: 40px;
       width:90%;
       margin:auto auto 50px auto;
   }
   #search-nav{
       width:400px;
       display: flex;
       justify-content: space-between;
       align-content: middle;
       margin:0 auto 0 auto;
       border-radius: 22px;
       text-align:center;
       background: rgba(220,220,220,0.5);
       border: solid 0.5px rgba(0,0,0,0.1);
   }
   #search-nav input{
       width: 100%;
       text-align:center;
       overflow: hidden;
       outline:none;
       border:none;
       padding: 6px;
       background:none;
       border-left: solid 0.5px rgba(0,0,0,0.2);
       border-right: solid 0.5px rgba(0,0,0,0.2);
       cursor:text;
   }
   #search-nav button{
       border:none;
       background:none;
       cursor: pointer;
   }


   #search-content{
       display: block;
   }

   #search-row{
       align-content: center;
       width: 100%;
       margin:auto;
       white-space: nowrap;
       overflow: hidden;
       overflow-y: none;
       overflow-x: auto;
       align-items: center;
       padding:26px;
   }
   #search-row::-webkit-scrollbar{
       padding:0;
       display: none !important;
   }
   .search-row-item{
       width:300px;
       padding: 0 0 8px 0;
       margin: auto 16px auto 16px;
       display: inline-block;
       align-self: middle; 
   }
   .search-row-item-img{
       width:100%;
       margin:auto;
       display:inline-block;
   }
   .search-row-item-text{
       padding:22px;
       overflow: hidden;
       text-align: center;
       display: block;
       white-space: normal;
   }
   .search-row-item-text h1{
       font-size:18px;
       margin:8px auto 15px auto;
   }
   .search-row-item-text p{
       font-size:12px;
   }



   #search-table{
       display: block;
       padding:22px;
       margin:100px auto auto auto;
   }

   .search-table-item{
       display: flex;
       justify-content: space-between;
       align-content: center;
       width: 90%;
       margin: 15px auto 28px auto;
       padding:10px 22px;
   }
   .search-table-item h1,button,p,img{
       display: inline-block;
       align-self: middle;
       margin: auto 5px auto 5px;
       font-size:22px;
       background:none;
       outline:none;
       white-space: nowrap;
   }
    .search-table-item h1::-webkit-scrollbar,p::-webkit-scrollbar{
        display: none;
        padding:0;
   }
   
   .search-table-item-img{
       width:100px;
       height: 100px;
       border-radius: 100%;
   }
   .search-table-item h1{
       width:20%;
       overflow: hidden;
       overflow-x: auto;
       text-align: left;
       margin: auto 12px auto 12px;
   }
   .search-table-item p{
       width: 45%;
       overflow: hidden;
       overflow-x: auto;
       text-align: left;
   }
   .search-table-item button{
       background: rgba(220,220,220,0.5);
   }

</style>
