<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Form practice JSF</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
    </h:head>
    <h:body>
        <div class="container">

            <h:form> 
                
                <p:growl id="growl" life="2000" />
                
                <div class="row">
                    <div class="col-sm">
                        <label class="col" id="Codigo1" for="Codigo">Codigo</label>
                        <label class="col" id="Compania1" for="Compania">Compañia</label>
                        <label class="col" id="articulo1" for="articulo">Numero de articulo</label>
                        <label class="col" id="nameArt1" for="nameArt">Nombre de articulo</label>
                        <label class="col" id="date1" for="date">Fecha importacion</label>
                        <label class="col" id="tproblem1" for="tproblem">Tipo problema</label>
                        <label class="col" id="problem1" for="problem">Problemas</label>
                        <label class="col" id="comparacion1" for="comparacion">Comparacion</label>
                    </div>
                    <div class="col-sm">
                        <p:inputText class="form-control" id="Codigo" value="#{entityView.element.codigo}"/>

                        <p:selectOneMenu id="Compania" style="width:150px">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="Dylan" itemValue="Dylan" />
                            <f:selectItem itemLabel="809" itemValue="809" />
                            <f:selectItem itemLabel="MDC" itemValue="MDC" />
                        </p:selectOneMenu>

                        <p:inputText class="input-group mb-3" id="articulo" value="#{entityView.element.noArticulo}" />
                        <p:inputText id="nameArt" />

                        <input       id="date" type="date"></input>

                        <p:selectOneMenu  id="tproblem" style="width:150px">
                            <f:selectItem itemLabel="Select One" itemValue="" />
                            <f:selectItem itemLabel="danado" itemValue="Danado" />
                            <f:selectItem itemLabel="roto" itemValue="Roto" />
                            <f:selectItem itemLabel="quemado" itemValue="Quemado" />
                        </p:selectOneMenu>
                        <p:inputTextarea rows="6" cols="33" id="problem"/>
                        <p:inputTextarea rows="6" cols="33" id="comparacion"/>

                    </div>
                    <div class="col-sm">
                        <label  class="col" id="tecnico1" for="tecnico">Tecnico</label>
                        <label  class="col" id="totalrec1" for="totalrec">Total Recibido</label>
                        <label  class="col" id="porcentaje1" for="porcentaje">Porcentaje de problema</label>
                        <label  class="col" id="fechaeval1" for="fechaeval">Fecha evaluacion</label>
                        <label  class="col" id="canteval1" for="canteval">Cantidad evaluando</label>
                        <label  class="col" id="estadoimp1" for="estadoimp">Estado importacion</label>
                        <label  class="col" id="comments1" for="comments">Comentarios</label>

                    </div>
                    <div class="col-sm">
                        <p:inputText class="form-control" id="tecnico"/>
                        <p:inputNumber  id="totalrec"  ></p:inputNumber> 
                        <p:inputText class="form-control" id="porcentaje"/>
                        <p:inputText type="date" id="fechaeval"/>
                        <p:inputText id="canteval"/>
                        <p:inputText id="estadoimp"/>
                        <p:inputTextarea rows="6" cols="33" class="form-control" id="comments"/>
                    </div>
                    <div class="col-sm">
                        <button class="col">Btn</button>
                        <button class="col">Btn</button>
                        <button class="col">Btn</button>
                        <button class="col">Btn</button>
                        
                        <p:commandButton value="Ajax Submit" id="ajax" update="growl" action="#{entityView.buttonAction()}" style="margin-right:20px;" styleClass="ui-priority-primary" />
                    </div>
                </div>
                
            </h:form>
        </div>


        <!--<h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />-->        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </h:body>
</html>

